.profilebg {
    height: 500px;
    min-height: 100vh;
    background-image: url("./profilebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
  }

  .updateprofilebg{
    height: 500px;
    min-height: 100vh;
    background-image: url("./bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    font-family: sans-serif;
  }

  .form4 {
    margin-left: 67%;
    padding: 5px;
    width: 34%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }