.flightsbg {
    height: 500px;
    min-height: 100vh;
    background-image: url("./bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
  }

  .form1 {
    margin-left: 54%;
    padding: 7px;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }