.regbg {
    height: 500px;
    min-height: 100vh;
    background-image: url("./bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
  }